<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

    <conversionRule conversionWord="crlf" converterClass="com.d2csgame.config.CRLFLogConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- File appender -->
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- Appender gửi log đến Logstash qua TCP -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination> <!-- Địa chỉ và cổng của Logstash -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!--Định nghĩa appender cho log vào console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %highlight(%logger{36}) - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger name="angus.activation" level="OFF"/>
    <logger name="jakarta.activation" level="OFF"/>
    <logger name="jakarta.mail" level="OFF"/>
    <logger name="jakarta.management.remote" level="OFF"/>
    <logger name="jakarta.xml.bind" level="OFF"/>
    <logger name="jdk.event.security" level="OFF"/>
    <logger name="com.ryantenney" level="OFF"/>
    <logger name="com.sun" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="io.undertow" level="OFF"/>
    <logger name="io.undertow.websockets.jsr" level="OFF"/>
    <logger name="org.apache" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="OFF"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="OFF"/>
    <logger name="io.swagger.v3" level="INFO"/>
    <logger name="sun.rmi" level="OFF"/>
    <logger name="sun.rmi.transport" level="OFF"/>
    <logger name="Validator" level="OFF"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="OFF"/>
    <logger name="liquibase" level="OFF"/>
    <logger name="LiquibaseSchemaResolver" level="OFF"/>
    <logger name="com.d2csgame" level="DEBUG"/>
    <logger name="org.springframework.kafka" level="OFF"/>
    <logger name="org.apache.kafka" level="OFF"/>


    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO"/>

    <root level="${logging.level.root}">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/> <!-- Đảm bảo appender CONSOLE đã được định nghĩa -->
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!--    <property name="LOG_FILE" value="${logging.file.path:-/var/log/myapp/app.log}" />-->

    <!-- Định nghĩa appender cho log vào file -->
    <!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>${LOG_FILE}</file>-->
    <!--        <encoder>-->
    <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %class{36} %method - %file:%line - %mdc{sessionId} %msg%n%ex</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    &lt;!&ndash; Cấu hình root logger &ndash;&gt;-->
    <!--    <root level="${log.level}">-->
    <!--        <appender-ref ref="ASYNC"/>-->
    <!--        <appender-ref ref="CONSOLE" />-->
    <!--        <appender-ref ref="LOGSTASH" />-->
    <!--    </root>-->

</configuration>
